<div>
    <div class="filters-filters">
      <div class="filters-butoes">
        <div class="filters-container1">

          <div class="filters-distritos">
            <img
              alt=""
              src="Images/seta-baixo.png"
              class="filters-vector921"/>
            <span class="filters-text1">Distritos</span>
          </div>
                <div class="filters-categorias">
                    <img alt=""
                         src="Images/seta-baixo.png"
                         class="filters-vector92" />
                    <span class="filters-text">Categorias</span>
                </div>
        </div>
        <div class="filters-container2"></div>
      </div>
      <div class="filters-linha"></div>
    </div>
  </div>
