<footer>
    <div>
        <div class="footer-container">
            <div class="footer-footer">
                <div class="footer-footer-left-container">
                    <div class="footer-logo-text">
                        <span class="footer-fairthos">
                            <span class="footer-text">FAIRTHOS</span>
                            <br />
                        </span>
                        <span class="footer-direitos">
                            <span>Laboratórios de Informática IV</span>
                            <br />
                            <span>Engenharia Informática 2022/2023</span>
                            <br />
                            <span>Universidade do Minho </span>
                            <br />
                            <br />
                        </span>
                        <div class="footer-icon-group">
                            <a href="https://www.instagram.com/" target="_blank"> <img alt="image" src="Images/instagram.png" class="footer-img" /> </a>
                            <a href="https://www.facebook.com/" target="_blank"> <img alt="image" src="Images/facebook.png" class="footer-img" /> </a>
                            <a href="https://www.twitter.com/" target="_blank"> <img alt="image" src="Images/twitter.png" class="footer-img" /> </a>
                            <a href="https://www.linkedin.com/" target="_blank"> <img alt="image" src="Images/linkedin.png" class="footer-img" /> </a>
                        </div>
                    </div>
                    <div class="footer-footer-links-container">
                        <div class="footer-apoio-cliente-container">
                            <span class="footer-apoio-cliente-text">Apoio ao Cliente</span>
                            <a class="footer-entregas-text" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Entregas</a>
                            <a class="footer-devo-text" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Devoluções</a>
                            <a class="footer-contactos-text" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Contactos</a>
                            <a class="footer-ajuda-text" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Ajuda</a>
                        </div>
                        <div class="footer-sobre-container">
                            <span class="footer-sobre-fairthos-text">Sobre a Fairthos</span>
                            <a class="footer-termos-text" href="https://www.w3.org/Provider/Style/dummy.html">Termos e Condições</a>
                            <a class="footer-privs-text" href="https://www.w3.org/Provider/Style/dummy.html">Política de Privacidade</a>
                            <a class="footer-cookies-text" href="https://www.w3.org/Provider/Style/dummy.html">Política de Cookies e Tecnologias</a>
                            <a class="footer-reclamacoes-text" href="https://www.w3.org/Provider/Style/dummy.html">Livro de Reclamações Online</a>
                        </div>
                    </div>
                </div>
                <img alt="image"
                     src="Images/galo-footer.png"
                     class="footer-galo-image" />
            </div>
        </div>
    </div>
</footer>