@inherits LayoutComponentBase

<PageTitle>FairthosApp</PageTitle>

<div class="page">
    
    <nav class="full-width">
        <NavMenu />
    </nav>

    <div class="full-width content">
        @Body
    </div>
    
    <footer class="full-width">
        <Footer />
    </footer>

</div>




