.nav-menu-container {
    width: 100%;
    max-height: 80px;
    display: flex;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    background-color: #1D2445;
    z-index: 10;
}

.nav-menu {
    width: 100%;
    height: 80px;
    display: flex;
    position: relative;
    max-width: 100%;
    max-height: 104px;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: center;
}

.nav-menu-container1 {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    justify-content: space-between;
}

.nav-menu-logo {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.nav-menu-text {
    color: #ffffff;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 1.3px;
}

.nav-menu-image {
    width: 23px;
    height: 27px;
    margin-top: 7px;
    object-fit: cover;
    margin-right: 2px;
    margin-bottom: 7px;
}

.nav-menu-text1 {
    color: #ffffff;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 1.3px;
}

.nav-menu-search-bar {
    color: #1D2445;
    width: 65%;
    border-radius: 15px;
    border: white;
    padding-left: 20px;
}

    .nav-menu-search-bar :focus {
        border-color: white;
        border-inline-color: white;
    }

.nav-menu-entrar {
    color: #ffffff;
    font-size: 20px;
    font-family: DM Sans;
}

.nav-menu-profile-pic {
    width: 30px;
    object-fit: cover;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}

    .hover-underline-animation::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }



@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
