<div>
    <div class="filters-filters">
      <div class="filters-butoes">
        <div class="filters-container1">
                <div class="topinfofilter-f-filter-f">
                    <div class="topinfofilter-f-feira-img-f">
                        <img alt=""
                             src="Images/Stall.png"
                             class="topinfofilter-image" />
                    </div>
                    <div class="topinfofilter-f-feira-nome-f">
                        <span class="topinfofilter-f-text">
                            <span>Feira de Barcelos</span>
                        </span>
                    </div>
                </div>
        </div>
        <div class="filters-container2"></div>
      </div>
      <div class="filters-linha"></div>
    </div>
  </div>
