/* _content/FairthosApp/Shared/CarrinhoDeCompras.razor.rz.scp.css */
.carrinho-card-container[b-vpm80i4fj0] {
    flex: 0 0 auto;
    width: 853px;
    height: 237px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #D9D9D9;
    margin-bottom: 10px;
}

.carrinho-img-container[b-vpm80i4fj0] {
    width: 176px;
    height: 237px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D2445;
}

.produto-imagem[b-vpm80i4fj0] {
    width: 158px;
    height: 220px;
    border-color: transparent;
}

.carrinho-info-container[b-vpm80i4fj0] {
    flex: 0 0 auto;
    width: 678px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding: 20px 37px 20px 37px;
}

.carrinho-info-l-container[b-vpm80i4fj0] {
    flex: 0 0 auto;
    width: 423px;
    height: 207px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.carrinho-info-text[b-vpm80i4fj0] {
    flex: 0 0 auto;
    width: 246px;
    height: auto;
    display: flex;
    align-items: flex-start;
    margin-bottom: 52px;
    flex-direction: column;
}

.carrinho-nome[b-vpm80i4fj0] {
    width: 246px;
    height: 43px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.carrinho-text-nome[b-vpm80i4fj0] {
    color: rgb(58, 58, 89);
    width: auto;
    height: auto;
    font-size: 35px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.carrinho-codigo[b-vpm80i4fj0] {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.carrinho-text-codigo[b-vpm80i4fj0] {
    color: rgba(58, 58, 89, 0.77);
    width: auto;
    height: auto;
    font-size: 15px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.carrinho-preo[b-vpm80i4fj0] {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-halfunit);
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 2px;
}

.carrinho-preo-l[b-vpm80i4fj0] {
    width: 140px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    border: 2px solid rgb(58, 58, 89);
    justify-content: center;
}

.carrinho-text-preo-l[b-vpm80i4fj0] {
    color: rgba(58, 58, 89, 1);
    width: auto;
    font-size: 20px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.carrinho-preo-r[b-vpm80i4fj0] {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    border: 2px solid rgb(58, 58, 89);
    justify-content: center;
    border-left-width: 0px;
}

.carrinho-text-preo-r[b-vpm80i4fj0] {
    color: rgb(58, 58, 89);
    width: auto;
    height: auto;
    font-size: 20px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.carrinho-quantidade[b-vpm80i4fj0] {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.carrinho-quantidade-l[b-vpm80i4fj0] {
    width: 140px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    border: 2px solid rgb(58, 58, 89);
    justify-content: center;
}

.carrinho-text-q-l[b-vpm80i4fj0] {
    color: rgb(58, 58, 89);
    width: auto;
    font-size: 20px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.carrinho-quantidade1[b-vpm80i4fj0] {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    border: 2px solid rgb(58, 58, 89);
    justify-content: center;
    border-left-width: 0px;
    transition: background-color 0.5s;
    cursor: pointer;
    user-select: none;
}
.carrinho-quantidade1:hover[b-vpm80i4fj0] {
      background-color: rgb(58, 58, 89);
    color: rgb(217,217,217);
}


.carrinho-text-q[b-vpm80i4fj0] {
    width: auto;
    font-size: 25px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.carrinho-quantidade-r[b-vpm80i4fj0] {
    width: 132px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    border: 2px solid rgb(58, 58, 89);
    justify-content: center;
    border-left-width: 0px;
}

.carrinho-text-q-r[b-vpm80i4fj0] {
    color: rgb(58, 58, 89);
    width: auto;
    height: auto;
    font-size: 20px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.carrinho-quantidade2[b-vpm80i4fj0] {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    border: 2px solid rgb(58, 58, 89);
    justify-content: center;
    border-left-width: 0px;
    transition: background-color 0.5s;
    color: rgb(58, 58, 89);
    cursor: pointer;
    user-select: none;
}

.carrinho-quantidade2:hover[b-vpm80i4fj0] {
    background-color: rgb(58, 58, 89);
    color: rgb(217,217,217);
    
}

.carrinho-text-q1[b-vpm80i4fj0] {
    width: auto;
    font-size: 25px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    transition: color 0.5s;
}


.carrinho-info-r-container[b-vpm80i4fj0] {
    flex: 0 0 auto;
    width: 182px;
    height: 207px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.carrinho-top-info-r[b-vpm80i4fj0] {
    flex: 0 0 auto;
    width: auto;
    height: 28px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.carrinho-empty1[b-vpm80i4fj0] {
    width: 153px;
    height: 28px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.carrinho-cross[b-vpm80i4fj0] {
    width: 29px;
    height: 29px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transform: rotate(0deg);
    transition: transform 0.3s;
    cursor:pointer;
}
.carrinho-cross:hover[b-vpm80i4fj0]{
    transform: rotate(180deg);
}

.card-close[b-vpm80i4fj0] {
    width: 23px;
    height: 24px;
    align-self: center;
}

.carrinho-empty2[b-vpm80i4fj0] {
    width: 100%;
    height: 133px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.carrinho-preo-final[b-vpm80i4fj0] {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.carrinho-text3[b-vpm80i4fj0] {
    color: rgb(58, 58, 89);
    width: 137px;
    height: auto;
    font-size: 33px;
    align-self: flex-end;
    font-style: Bold;
    text-align: right;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.resumo-container2[b-vpm80i4fj0] {
    position: sticky;
    flex: 0 0 auto;
    height: 344px;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
}

.resumo-top[b-vpm80i4fj0] {
    flex: 0 0 auto;
    width: 100%;
    height: 269px;
    display: flex;
    position: relative;
    align-items: flex-start;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    margin-bottom: 20px;
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
    background-color: #D9D9D9;
}

.resumo-title[b-vpm80i4fj0] {
    width: 100%;
    height: 40px;
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction: column;
}

.resumo-text-title[b-vpm80i4fj0] {
    color: rgba(29, 36, 69, 1);
    width: auto;
    height: auto;
    font-size: 25px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.resumo-subtotal[b-vpm80i4fj0] {
    width: 100%;
    height: 34px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.resumo-subtotal-in[b-vpm80i4fj0] {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.resumo-sub-l[b-vpm80i4fj0] {
    flex: 0 0 auto;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.resumo-text-sub-l[b-vpm80i4fj0] {
    color: rgb(29, 36, 69);
    width: auto;
    height: auto;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 194.023%;
    font-stretch: normal;
    text-decoration: none;
}

.resumo-sub-r[b-vpm80i4fj0] {
    flex: 0 0 auto;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.resumo-text-sub-r[b-vpm80i4fj0] {
    color: rgb(29, 36, 69);
    width: auto;
    height: auto;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 194.023%;
    font-stretch: normal;
    text-decoration: none;
}

.resumo-envio[b-vpm80i4fj0] {
    width: 100%;
    height: 34px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.resumo-envio-in[b-vpm80i4fj0] {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.resumo-envio-l[b-vpm80i4fj0] {
    flex: 0 0 auto;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.resumo-text-envio-l[b-vpm80i4fj0] {
    color: rgb(29, 36, 69);
    width: auto;
    height: auto;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 194.023%;
    font-stretch: normal;
    text-decoration: none;
}

.resumo-envio-r[b-vpm80i4fj0] {
    flex: 0 0 auto;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.resumo-text-envio-r[b-vpm80i4fj0] {
    color: rgb(29, 36, 69);
    width: auto;
    height: auto;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 194.023%;
    font-stretch: normal;
    text-decoration: none;
}

.resumo-desconto[b-vpm80i4fj0] {
    width: 100%;
    height: 34px;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.resumo-desconto-in[b-vpm80i4fj0] {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.resumo-desconto-l[b-vpm80i4fj0] {
    flex: 0 0 auto;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.resumo-text-desconta-l[b-vpm80i4fj0] {
    color: rgb(29, 36, 69);
    width: auto;
    height: auto;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 194.023%;
    font-stretch: normal;
    text-decoration: none;
}

.resumo-desconto-r[b-vpm80i4fj0] {
    flex: 0 0 auto;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.resumo-text-deconto-r[b-vpm80i4fj0] {
    color: rgb(29, 36, 69);
    width: auto;
    height: auto;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 194.023%;
    font-stretch: normal;
    text-decoration: none;
}

.resumo-total[b-vpm80i4fj0] {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-start;
    border-top: 2px solid rgba(29, 36, 69, 1);
    border-width: 2px;
    flex-direction: column;
    justify-content: flex-end;
    
}

.resumo-total-in[b-vpm80i4fj0] {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.resumo-total-l[b-vpm80i4fj0] {
    flex: 0 0 auto;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.resumo-text-total-l[b-vpm80i4fj0] {
    color: rgb(29, 36, 69);
    width: auto;
    height: auto;
    font-size: 24px;
    align-self: auto;
    text-align: left;
    font-family: Inter;
    font-weight: 600;
    line-height: 194.023%;
    font-stretch: normal;
    text-decoration: none;
}

.resumo-text1[b-vpm80i4fj0] {
    font-weight: 700;
}

.resumo-text2[b-vpm80i4fj0] {
    font-style: normal;
}

.resumo-total-r[b-vpm80i4fj0] {
    flex: 0 0 auto;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.resumo-text-total-r[b-vpm80i4fj0] {
    color: rgb(29, 36, 69);
    width: auto;
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 194.023%;
    font-stretch: normal;
    text-decoration: none;
}

.resumo-iva[b-vpm80i4fj0] {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.resumo-text-iva[b-vpm80i4fj0] {
    color: rgb(29, 36, 69);
    width: auto;
    height: auto;
    font-size: 15px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 194.023%;
    font-stretch: normal;
    text-decoration: none;
}

.resumo-fim-compra[b-vpm80i4fj0] {
    width: 100%;
    height: 55px;
    display: flex;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: center;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
    background-color: rgba(29, 36, 69, 1);
    color: white;
    cursor: pointer;
    user-select:none;
}

    .resumo-fim-compra:hover[b-vpm80i4fj0] {
        transform:scale(1.02)
    }

.resumo-text3[b-vpm80i4fj0] {
    width: 358px;
    height: auto;
    font-size: 20px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.carrinho-title[b-vpm80i4fj0] {
    width: 100%;
    max-width: 1424px;
    height: 134px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: center;
    box-sizing: border-box;
    align-items: flex-end;
    flex-shrink: 1;
    border-color: #1d2445;
    border-style: solid;
    border-width: 2px;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--dl-color-gray-white);
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.carrinho-top[b-vpm80i4fj0] {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.carrinho-img[b-vpm80i4fj0] {
    width: 70px;
    height: 40px;
    display: flex;  
    flex-direction: column;
    
}

.carrinho-icon[b-vpm80i4fj0] {
    width: 50px;
    height: 40px;
}

.carrinho-top-title[b-vpm80i4fj0] {
    width: 1108px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.carrinho-text-title[b-vpm80i4fj0] {
    color: rgb(29, 36, 69);
    font-size: 45px;
    align-self: flex-start;
    font-style: normal;
    font-weight: 700;
}

.carrinho-nprodutos[b-vpm80i4fj0] {
    width: 100%;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.carrinho-text-nprodutos[b-vpm80i4fj0] {
    color: rgb(58, 58, 89);
}

.lista[b-vpm80i4fj0] {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
}

.content[b-vpm80i4fj0] {
    width: 100%;
    max-width: var(--dl-size-size-maxwidth);
    display:flex;
    flex-direction:row;
}
/* _content/FairthosApp/Shared/FeirasFilters.razor.rz.scp.css */
.filters-filters[b-b162s55v87] {
    width: 1439px;
    height: 107px;
    display: flex;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
}

.filters-butoes[b-b162s55v87] {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
    justify-content: space-between;
}

.filters-container1[b-b162s55v87] {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.filters-categorias[b-b162s55v87] {
    width: 266px;
    height: 62px;
    display: flex;
    margin-left: 45px;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-color: #1D2445;
    border-style: solid;
    border-width: 3px;
    border-radius: 35px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(217, 217, 217, 1);
}

.filters-vector92[b-b162s55v87] {
    top: 25px;
    right: 22px;
    width: 26px;
    height: 13px;
    position: absolute;
}

.filters-text[b-b162s55v87] {
    top: 14px;
    left: 49px;
    color: rgb(29, 36, 69);
    width: 132px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.filters-distritos[b-b162s55v87] {
    width: 266px;
    height: 62px;
    display: flex;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    margin-left: var(--dl-space-space-threeunits);
    border-color: #1D2445;
    border-style: solid;
    border-width: 3px;
    border-radius: 35px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(217, 217, 217, 1);
}

.filters-vector921[b-b162s55v87] {
    top: 25px;
    right: 22px;
    width: 26px;
    height: 13px;
    position: absolute;
}

.filters-text1[b-b162s55v87] {
    top: 14px;
    left: 49px;
    color: rgb(29, 36, 69);
    width: 132px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.filters-container2[b-b162s55v87] {
    width: 40px;
    height: 40px;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    background-size: cover;
    background-image: url("Images/settings-icon.png");
    background-position: center;
}

.filters-linha[b-b162s55v87] {
    display: flex;
    border-color: #1D2445;
    border-style: solid;
    border-width: 2px;
    flex-direction: column;
    justify-content: flex-start;
}
/* _content/FairthosApp/Shared/Footer.razor.rz.scp.css */
.footer-container[b-es41bf8fpu] {
    width: 100%;
    height: 305px;
    max-height: 305px;
    display: flex;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 0px;
}

.footer-footer[b-es41bf8fpu] {
    width: 100%;
    height: 305px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #1D2445;
}

.footer-footer-left-container[b-es41bf8fpu] {
    width: 935px;
    height: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-self: flex-end;
    margin-top: 0px;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-threeunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
    background-color: #1D2445;
}

.footer-logo-text[b-es41bf8fpu] {
    height: 211px;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: 19px;
    justify-content: space-between;
}

.footer-fairthos[b-es41bf8fpu] {
    color: #E3E2E2;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 1px;
    padding-bottom: 0px;
}

.footer-text[b-es41bf8fpu] {
    font-size: 50px;
}

.footer-direitos[b-es41bf8fpu] {
    color: #E3E2E2;
    margin-top: var(--dl-space-space-halfunit);
    font-family: DM Sans;
    line-height: 1.5;
    margin-bottom: var(--dl-space-space-halfunit);
}

.footer-icon-group[b-es41bf8fpu] {
    width: 224px;
    display: flex;
    margin-top: 0px;
    flex-direction: row;
    justify-content: space-between;
}

.footer-img[b-es41bf8fpu] {
    width: 35px;
    object-fit: cover;
}



.footer-footer-links-container[b-es41bf8fpu] {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.footer-apoio-cliente-container[b-es41bf8fpu] {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    margin-right: var(--dl-space-space-fiveunits);
    flex-direction: column;
    justify-content: space-between;
}

.footer-apoio-cliente-text[b-es41bf8fpu] {
    color: #E3E2E2;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.footer-entregas-text[b-es41bf8fpu] {
    color: #E3E2E2;
    font-family: DM Sans;
    margin-bottom: var(--dl-space-space-unit);
}

.footer-devo-text[b-es41bf8fpu] {
    color: #E3E2E2;
    font-family: DM Sans;
    margin-bottom: var(--dl-space-space-unit);
}

.footer-contactos-text[b-es41bf8fpu] {
    color: #E3E2E2;
    font-family: DM Sans;
    margin-bottom: var(--dl-space-space-unit);
}

.footer-ajuda-text[b-es41bf8fpu] {
    color: #E3E2E2;
    font-family: DM Sans;
}

.footer-sobre-container[b-es41bf8fpu] {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    margin-right: 0px;
    padding-right: 0px;
    flex-direction: column;
    justify-content: space-between;
}

.footer-sobre-fairthos-text[b-es41bf8fpu] {
    color: #E3E2E2;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.footer-termos-text[b-es41bf8fpu] {
    color: #E3E2E2;
    font-family: DM Sans;
    margin-bottom: var(--dl-space-space-unit);
}

.footer-privs-text[b-es41bf8fpu] {
    color: #E3E2E2;
    font-family: DM Sans;
    margin-bottom: var(--dl-space-space-unit);
}

.footer-cookies-text[b-es41bf8fpu] {
    color: #E3E2E2;
    font-family: DM Sans;
    margin-bottom: var(--dl-space-space-unit);
}

.footer-reclamacoes-text[b-es41bf8fpu] {
    color: #E3E2E2;
    font-family: DM Sans;
}

.footer-galo-image[b-es41bf8fpu] {
    width: auto;
    height: 100%;
    align-self: flex-end;
    object-fit: cover;
    padding-top: 0px;
}


a[b-es41bf8fpu] {
    text-decoration: none;
}

    a:hover[b-es41bf8fpu] {
        color: lightgray;
    }
/* _content/FairthosApp/Shared/ListaFeiras.razor.rz.scp.css */

.feira-container[b-2xj2zs0irc] {
    width: 268px;
    height: 387px;
    display: flex;
    padding: 0px 20px 0px 20px;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(58, 58, 89, 1);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

    .feira-container img[b-2xj2zs0irc] {
        clip-path: inset(0 0 0 0);
        transition: clip-path 0.3s ease-in-out;
    }

    .feira-container:hover[b-2xj2zs0irc] {
        transform: translate(10px, -10px);
    }

    .feira-container:hover img[b-2xj2zs0irc] {
            clip-path: inset(0 0 59px 0);
    }
        .feira-container:hover .feira-text[b-2xj2zs0irc] {
            transform: translate(0px, -59px);
            
        }
        .feira-container:hover .feira-text2[b-2xj2zs0irc] {
            z-index:0;
        }


.feira-image[b-2xj2zs0irc] {
    top: 12px;
    left: 12px;
    width: 243px;
    height: 295px;
    position: absolute;
    border-color: transparent;
    position: absolute;
}

.feira-text[b-2xj2zs0irc] {
    left: 0px;
    color: rgb(58, 58, 89);
    width: 100%;
    bottom: 0px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    padding-top: var(--dl-space-space-unit);
    font-stretch: normal;
    padding-bottom: var(--dl-space-space-unit);
    text-decoration: none;
    background-color: rgb(217, 217, 217);
    transition: all 0.3s ease-in-out;
    border: 3px solid #3A3A59;
    z-index:2;
}
.feira-text2-container[b-2xj2zs0irc] {
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 62px;
    position: absolute;
    background-color: white;
    transition: all 0.3s ease-in-out;
    border: 3px solid #3A3A59;
    z-index: 1;
    display: flex;
    flex-direction:row;
}

.description-left[b-2xj2zs0irc] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    border-right: 3px solid #3A3A59;
}
.description-right[b-2xj2zs0irc] {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #989898;
    font-family: 'DM sans';
}

.lista[b-2xj2zs0irc] {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
}

.content[b-2xj2zs0irc] {
    width: 100%;
    max-width: var(--dl-size-size-maxwidth);
    padding: 10px 0px 10px 0px;
}

.col[b-2xj2zs0irc] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 40px 0px;
    padding: 0px 8px 0px 8px;
    transform: translate(0, 0);
    transition: transform 0.4s ease-in-out;
}


.back-color[b-2xj2zs0irc] {
    background-color: #C95A5A;
}


.homepage[b-2xj2zs0irc] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagem-welcomer[b-2xj2zs0irc] {
    width: 100%;
    height: 687px;
    display: flex;
    flex-direction: row;
    top: 0px;
    align-items: start;
    align-content: start;
    margin-bottom: 70px;
}

    .imagem-welcomer img[b-2xj2zs0irc] {
        width: 70%;
        height: auto;
        max-width: var(--dl-size-size-maxwidth);
        top: 0px;
    }

.side[b-2xj2zs0irc] {
    width: 15%;
    height: 579px;
    background-color: #E3E2E2;
    display: grid;
    align-content: end;
}
/* _content/FairthosApp/Shared/ListaProdutos.razor.rz.scp.css */

.produto-container[b-6xy7zctjxo] {
    width: 268px;
    height: 387px;
    display: flex;
    padding: 0px 20px 0px 20px;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(58, 58, 89, 1);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
    .produto-container:hover[b-6xy7zctjxo] {
        transform: translate(10px, -10px);
    }
    
    .produto-container:hover .produto-text[b-6xy7zctjxo] {
        transform: translate(0px, -59px);
    }

.produto-image[b-6xy7zctjxo] {
    clip-path: inset(0 0 0 0);
    transition: clip-path 0.3s ease-in-out;
}

.produto-container:hover .produto-image[b-6xy7zctjxo] {
    clip-path: inset(0 0 59px 0);
}
        


.produto-image[b-6xy7zctjxo] {
    top: 12px;
    left: 12px;
    width: 243px;
    height: 295px;
    position: absolute;
    border-color: transparent;
    position: absolute;
}

.produto-text[b-6xy7zctjxo] {
    left: 0px;
    color: rgb(58, 58, 89);
    width: 100%;
    bottom: 0px;
    height: 62px;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    background-color: rgb(217, 217, 217);
    transition: all 0.3s ease-in-out;
    border: 3px solid #3A3A59;
    z-index: 2;
    display: flex;
    flex-direction: row;
}

.description-left[b-6xy7zctjxo] {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    border-right: 3px solid #3A3A59;
}

.description-right[b-6xy7zctjxo] {
    display: flex;
    font-size: 17px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    color: #3A3A59;
}


.produto-under-container[b-6xy7zctjxo] {
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 62px;
    position: absolute;
    background-color: white;
    transition: all 0.3s ease-in-out;
    border: 3px solid #3A3A59;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content:center;
}




.container-left[b-6xy7zctjxo] {
   height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menos[b-6xy7zctjxo] {
    height: 60%;
    width: auto;
    display: flex;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

.menos:hover[b-6xy7zctjxo] {
    transform: scale(1.03)
}

.menos-image[b-6xy7zctjxo] {
    width: auto;
    object-fit: cover;
}

.value[b-6xy7zctjxo] {
    width: 70px;
    height: 63%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    font-weight: 500;
}


.mais[b-6xy7zctjxo] {
    height: 60%;
    width:auto;
    display: flex;
    cursor:pointer;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

.mais img[b-6xy7zctjxo] {
    width: auto;
    object-fit: cover;
}

.mais:hover[b-6xy7zctjxo]{
    transform:scale(1.03)
}

.container-right[b-6xy7zctjxo] {
    margin-left: 13px;
    height: 75%;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: rgba(217, 217, 217, 1);
    cursor: pointer;
}

.container-right img[b-6xy7zctjxo]  {
    width: 30px;
    height: auto;
    object-fit: cover;
}

    .container-right:hover[b-6xy7zctjxo] {
        border: 3px solid #3A3A59;
    }




    .lista[b-6xy7zctjxo] {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: var(--dl-space-space-sixunits);
        padding-right: var(--dl-space-space-sixunits);
    }

.content[b-6xy7zctjxo] {
    width: 100%;
    max-width: var(--dl-size-size-maxwidth);
    padding: 10px 0px 30px 0px;
}

.col[b-6xy7zctjxo] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 40px 0px;
    padding: 0px 8px 0px 8px;
    transform: translate(0, 0);
    transition: transform 0.4s ease-in-out;
}


.back-color[b-6xy7zctjxo] {
    background-color: #C95A5A;
}


/* _content/FairthosApp/Shared/ListaVendedores.razor.rz.scp.css */

.vendedor-container[b-euhvv7p83s] {
    width: 268px;
    height: 387px;
    display: flex;
    padding: 0px 20px 0px 20px;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(58, 58, 89, 1);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

    .vendedor-container img[b-euhvv7p83s] {
        clip-path: inset(0 0 0 0);
        transition: clip-path 0.3s ease-in-out;
    }

    .vendedor-container:hover[b-euhvv7p83s] {
        transform: translate(10px, -10px);
    }

        .vendedor-container:hover img[b-euhvv7p83s] {
            clip-path: inset(0 0 59px 0);
        }

        .vendedor-container:hover .vendedor-text[b-euhvv7p83s] {
            transform: translate(0px, -59px);
        }

        


.vendedor-image[b-euhvv7p83s] {
    top: 12px;
    left: 12px;
    width: 243px;
    height: 295px;
    position: absolute;
    border-color: transparent;
    position: absolute;
}

.vendedor-text[b-euhvv7p83s] {
    left: 0px;
    color: rgb(58, 58, 89);
    width: 100%;
    bottom: 0px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    padding-top: var(--dl-space-space-unit);
    font-stretch: normal;
    padding-bottom: var(--dl-space-space-unit);
    text-decoration: none;
    background-color: rgb(217, 217, 217);
    transition: all 0.3s ease-in-out;
    border: 3px solid #3A3A59;
    z-index: 2;
}

.vendedor-text2-container[b-euhvv7p83s] {
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 62px;
    position: absolute;
    background-color: white;
    transition: all 0.3s ease-in-out;
    border: 3px solid #3A3A59;
    z-index: 1;
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555574;
    font-size: 20px;
    font-weight: 600;
}


.lista[b-euhvv7p83s] {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
}

.content[b-euhvv7p83s] {
    width: 100%;
    max-width: var(--dl-size-size-maxwidth);
    padding: 10px 0px 10px 0px;
}

.col[b-euhvv7p83s] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 40px 0px;
    padding: 0px 8px 0px 8px;
    transform: translate(0, 0);
    transition: transform 0.4s ease-in-out;
}


.back-color[b-euhvv7p83s] {
    background-color: #C95A5A;
}
/* _content/FairthosApp/Shared/MainLayout.razor.rz.scp.css */
.page[b-2z3kah70x5]{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}
.full-width[b-2z3kah70x5] {
    width: 100%;
}

.content[b-2z3kah70x5] {
    z-index: 1;
    margin-top:0;
}

nav[b-2z3kah70x5] {
    position: sticky;
    top: 0;
    z-index: 2;
}

footer[b-2z3kah70x5] {
    position: sticky;
}
/* _content/FairthosApp/Shared/NavMenu.razor.rz.scp.css */
.nav-menu-container[b-s27m5gqwpv] {
    width: 100%;
    max-height: 80px;
    display: flex;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    background-color: #1D2445;
    z-index: 10;
}

.nav-menu[b-s27m5gqwpv] {
    width: 100%;
    height: 80px;
    display: flex;
    position: relative;
    max-width: 100%;
    max-height: 104px;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: center;
}

.nav-menu-container1[b-s27m5gqwpv] {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    justify-content: space-between;
}

.nav-menu-logo[b-s27m5gqwpv] {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.nav-menu-text[b-s27m5gqwpv] {
    color: #ffffff;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 1.3px;
}

.nav-menu-image[b-s27m5gqwpv] {
    width: 23px;
    height: 27px;
    margin-top: 7px;
    object-fit: cover;
    margin-right: 2px;
    margin-bottom: 7px;
}

.nav-menu-text1[b-s27m5gqwpv] {
    color: #ffffff;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 1.3px;
}

.nav-menu-search-bar[b-s27m5gqwpv] {
    color: #1D2445;
    width: 65%;
    border-radius: 15px;
    border: white;
    padding-left: 20px;
}

    .nav-menu-search-bar :focus[b-s27m5gqwpv] {
        border-color: white;
        border-inline-color: white;
    }

.nav-menu-entrar[b-s27m5gqwpv] {
    color: #ffffff;
    font-size: 20px;
    font-family: DM Sans;
}

.nav-menu-profile-pic[b-s27m5gqwpv] {
    width: 30px;
    object-fit: cover;
}

.hover-underline-animation[b-s27m5gqwpv] {
    display: inline-block;
    position: relative;
    color: white;
}

    .hover-underline-animation[b-s27m5gqwpv]::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover[b-s27m5gqwpv]::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }



@media (min-width: 641px) {
    .navbar-toggler[b-s27m5gqwpv] {
        display: none;
    }

    .collapse[b-s27m5gqwpv] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
