.table-header {
    background-color: rgb(220,220,220);
    font-weight: bold;
}

.table-container {
    border: 2px solid rgb(220,220,220);
    border-radius: '8px';
}

.table {
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.teste-nome {
    min-width: 100px;
    color: #3f51b5;
}

.title {
    padding-left: 10px;
    color: #002984;
    font-weight: bold;
    display: inline-block;
}